#header {
background-color : black;
color : white;
text-align : center;
padding : 5px;
}
.italic {
font-style : italic;
font-size: xx-small;
font: red;
}
#nav {
line-height : 35px;
background-color : #eeeeee;
height : 455px;
width : 300px;
text-align : left;
border-style : solid;
border-color : black;
border-width : 10px;
padding : 15px;
margin-left : 10px;
}
#map {
width : 500px;
padding : 0px;
border-style : solid;
border-width : 1px;
border-color : rgb(0, 102, 34);
margin : 10px;
}
#footer {
background-color : black;
color : white;
clear : both;
text-align : center;
padding : 5px;
margin : 20px;
}
#img {
border-radius : 50%;
}
.nytimes-container {
font-size : small;
width : 300px;
float : left;
padding : 25px;
border-style : solid;
border-width : 1px;
border-color : rgb(0, 102, 34);
margin : 20px;
background-color : rgba(255, 255, 255, 0.7);
}
.wikipedia-container {
width : 300px;
float : left;
padding : 20px;
border-style : solid;
border-width : 1px;
border-color : rgb(0, 102, 34);
margin : 20px;
background-color : rgba(255, 255, 255, 0.7);
}
.nsf-container {
width : 300px;
float : left;
padding : 25px;
border-style : solid;
border-width : 1px;
border-color : rgb(0, 102, 34);
margin : 20px;
background-color : rgba(255, 255, 255, 0.7);
}


